.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: cadetblue;
    padding: 15px 25px;
}
a {
    color: cornsilk;
    text-decoration: none;
    margin: 0 20px;
}
a:hover {
    color: rgb(213, 211, 202);
}
a:active {
    color: rgb(181, 179, 173);
}
@media (min-width: 1080px) {
    .header{
        padding: 16px 26px;
    }

}

@media (max-width: 600px) {
    .header {
        font-size: 14px;
        padding: 15px 20px;

    }
    a {
        margin: 0px 5px;
    }
    
}

@media (max-width: 375px) {
    .header {
        font-size: 10px;
        padding: 15px 15px;

    }
    a {
        margin: 0px 5px;
    }
}