.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 30px 50px;
}
.wrapper {
  border-bottom: 1px solid gray;
}
h4 {
  margin-bottom: 10px;
  font-size: 20px;
  color: rgb(83, 79, 65);
}
span {
  font-size: 25px;
  margin-left: 15px;
}
h1 {
  color: rgb(81, 78, 67);
}
.pagination{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
.counterPages{
    font-size: 10px;
    margin: 0px 20px;
}
button {
  background-color: cadetblue;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  color: cornsilk;
  font-size: 20px;
}
button:hover {
    background-color: rgb(94, 146, 147);
}
button:active {
    background-color: rgb(66, 102, 103);
}